body {
            background-color: rgb(199, 241, 248);
            font-family: 'Poppins';
             max-width: 800px;
             margin-bottom: 20px;
             padding: 20px;
        }
        h1 {
            color: brown;
            font-size: xx-large;
            border-bottom: 10%;
            padding-bottom: 10%;
            margin-top: 10%;
        }
        p {
            color: gray;
            font-size: larger;
        }
        h2 {
            color: blueviolet;
        }
        li {
            margin-bottom: 50px;
        }